<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>651463480377-ugkko9o0vnccativ3lc8902utgtn3s4p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.651463480377-ugkko9o0vnccativ3lc8902utgtn3s4p</string>
	<key>API_KEY</key>
	<string>AIzaSyDrVu17PijQZBQ36f4YAwus8xsNLy-pDuM</string>
	<key>GCM_SENDER_ID</key>
	<string>651463480377</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.liveEdu</string>
	<key>PROJECT_ID</key>
	<string>live-edu-6176f</string>
	<key>STORAGE_BUCKET</key>
	<string>live-edu-6176f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:651463480377:ios:a508f38a396a0a0f4be9e8</string>
</dict>
</plist>